@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color-white: hsl(0, 0%, 98%);
    --primary-color-grey: (0, 0%, 41%);
    --primary-color-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Epilogue", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.Logo{
    padding-right: 40px;
}

.nav-links{
    display: flex;
}

.nav-links ul{
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.nav-links ul li{
    list-style: none;
    padding: 0px 20px;
}

.nav-links ul li a{
    text-decoration: none;
    color: var(--primary-color-black);
    font-size: 15px;
}

.register-btns{
    padding: 0px 15px;
}

.login{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--primary-color-black);
    font-family: "Epilogue", sans-serif;
    font-size: 15px;
    margin-right: 40px;
}

.register {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--primary-color-black);
    color: var(--primary-color-black);
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    border-radius: 14px;
    padding: 10px 20px;
}

.hero-section{
    padding: 50px 80px 0px 100px;
}

.hero-container{
    display: flex;
    align-items: center;
}

.hero-content{
    padding: 50px 90px 50px 0px;
}

.hero-title{
    font-size: 60px;
    font-weight: 700;
}

.hero-subtitle{
    padding: 60px 0px;
    font-size: 18px;
}

.hero-button{
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Epilogue", sans-serif;
    background-color: var(--primary-color-black);
    color: var(--primary-color-white);
    cursor: pointer;
}

.hero-button:hover{
    background-color: transparent;
    color: var(--primary-color-black);
    border: 1px solid var(--primary-color-black);
}

.clients{
    display: flex;
    margin-top: 100px;
}

.clients img{
    align-self: center;
    padding-right: 25px;
}

.clients img:nth-child(2){
    width: 96px;
}

.hero-image-desktop{
    width: 480px;
}