@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color-white: hsl(0, 0%, 98%);
    --primary-color-grey: (0, 0%, 41%);
    --primary-color-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Epilogue", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.Logo{
    padding-right: 40px;
}

.nav-links{
    display: flex;
}

.nav-links ul{
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.nav-links ul li{
    list-style: none;
    padding: 0px 20px;
}

.nav-links ul li a{
    text-decoration: none;
    color: var(--primary-color-black);
    font-size: 15px;
}

.register-btns{
    padding: 0px 15px;
}

.login{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--primary-color-black);
    font-family: "Epilogue", sans-serif;
    font-size: 15px;
    margin-right: 40px;
}

.register {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--primary-color-black);
    color: var(--primary-color-black);
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    border-radius: 14px;
    padding: 10px 15px;
}